---
title: AKS Cluster
weight: 12
last_reviewed_on: 2023-07-23
review_in: 2 months
---
# Section 2 - AKS Cluster

📣 **NOTE:** You need to be on the [VPN] to access the documentation.

AKS is a core service for the HMCTS platform. 
As part of the Platform Operations team you will need to understand:

- How AKS is deployed/updated/maintained: [Guide](https://hmcts.github.io/ops-runbooks/aks/index.html)
- How applications are built and deployed to AKS [Guide](https://backstage.hmcts.net/docs/default/component/golden-path-nodejs)

For this guide we will not being creating a new AKS cluster but we will deploy an application to an existing AKS cluster.
Use the application build/deploy guide to carry out the necessary steps.

### What did i just create? <br>
- An image of your application in the [Azure Container registries](https://portal.azure.com/#@HMCTS.NET/resource/subscriptions/bf308a5c-0624-4334-8ff8-8dca9fd43783/resourceGroups/cnp-acr-rg/providers/Microsoft.ContainerRegistry/registries/hmctssandbox/repository) (ACR)
- A nodejs or java application running on the AKS cluster
- DNS record records as described above
- Azure frontdoor entries as described above

    <details>
      <summary>Final result - Application default page</summary>
      <img alt="Application default page" src="./images/default-page.png" width="auto">
    </details>

#### Points to note when going through the AKS steps

- Make sure you use `labs-YourGitHubUsername-nodejs` when configuring both Public DNS/Private DNS for Application
- There maybe needed some troubleshooting e.g. library versions may be deprecated or need updating.
    - Troubleshooting guide here: [Troubleshooting](https://hmcts.github.io/cloud-native-platform/troubleshooting/#golden-path)

<div class="nav">
  <a class="prev" href="./virtual-networks.html" title="Previous">❮ Previous</a>
  <a class="home" href="../index.html" title="Go to start">Home</a>
  <a class="next" href="./clean-up.html" title="Next">Next ❯</a>
</div>
