---
title: Clean Up
weight: 13
---
# Section 3 - Clean Up

After completing the above steps you should tear down all the resources created. This
saves the business money and helps prevent floating resources.

 <p>To roll back, do the following.</p>

- You need to disassociate the PIP Azure Firewall created from the firewall

 <details>
  <summary>Azure Firewall disassociate PIP</summary>
  <img alt="AzFw disassociate pip" src="./images/az-pip-remove.png" width="auto">
 </details>

- If you ran the [labs-azure-resource](/lab-azure-resource) from your local machine, you have a local statefile. Execute the command below to tear the resources in your resource group

```cmd
    terraform destroy
```

❗️Make sure your account is still set to the `DTS-SHAREDSERVICES-SBOX` subscription as described in `Step 1` above

- For all the other PR's created, create a new one removing only the parts you modified as part of this exercise, commit, review plans and then merge
- Verify that all the resources no longer exist.
