---
title: Walkthrough
weight: 2
last_reviewed_on: 2023-07-23
review_in: 2 months
---
# <%= current_page.data.title %>

## Overview - Core Architecture

The architecture diagram below represents core areas within Platform Operations. This hands on would visit each one of them and provide you the basic knowledge to get comfortable with the technology stack.
<br>
<summary>PlatOps Core Architecture</summary>

<details>
  <summary>PlatOps Core Architecture</summary>
  <img alt="PlatOps Core Architecture" src="./images/golden-path.png" width="auto">
</details>

At the end of the hands-on exercises, you can read up on the [technical documents](./Technical Documentation) for some more details on the core technologies
to help solidify the knowledge gained.

<div class="nav">
  <a class="prev" href="../" title="Previous">❮ Previous</a>
  <a class="home" href="../index.html" title="Go to start">Home</a>
  <a class="next" href="./Technical Documentation/index.html" title="Next">Next ❯</a>
</div>
